.venv/
venv/
env/
pantasa_env/
pantasa_venv/
__pycache__/
*.pyc
pantasa_env/


logs/
*.log

model/pos_model
mlruns/
get-pip.py

logs/pantasa.log
*.log
logs/pantasa.log
/logs
/.vscode
/rules/database/Generalized/LexemeComparison
logs/pantasa.log
/logs
logs/pantasa.log
