.venv/
venv/
env/
pantasa_env/
pantasa_venv/
__pycache__/
*.pyc
pantasa_env/

model/pos_model
mlruns/
get-pip.py

logs/pantasa.log
*.log
/logs
/.vscode
logs/pantasa.log
logs/pantasa.log
logs/pantasa.log
*.log
logs/pantasa.log
*.log
/logs
logs/pantasa.log
morphinas_project/Morphinas.jar
morphinas_project/py4j-0.10.9.7.jar
