<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_aboutcontact.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&italic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Artifika&display=swap" rel="stylesheet">
    <title>Pantasa - Contact Us</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='assets/logo_image.png') }}" alt="Logo Image" class="logo-image">
                <a href="{{ url_for('index') }}" class="logo">PANTASA</a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="contact-section">
            <h1>CONTACT US</h1>
            <p>Do you have any questions? Do you want to work with us?<br>
                That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            <div class="members">
                <div class="member">
                    <img src="{{ url_for('static', filename='assets/logo_image.png') }}" alt="Mem1" class="member-image">
                    <div class="member-info">
                        <h2>Carlo F. Agas</h2>
                        <h4>Project Leader</h4>
                        <h3>carlo.agas341@gmail.com</h3>
                    </div>
                </div>
                <div class="member">
                    <img src="{{ url_for('static', filename='assets/logo_image.png') }}" alt="Mem2" class="member-image">
                    <div class="member-info">
                        <h2>Rachell Ann T. Tapia</h2>
                        <h4>Software Developer, Project Assistant</h4>
                        <h3>rachellann344@gmail.com</h3>
                    </div>
                </div>
                <div class="member">
                    <img src="{{ url_for('static', filename='assets/logo_image.png') }}" alt="Mem3" class="member-image">
                    <div class="member-info">
                        <h2>James Patrick R. Alcantara</h4>
                        <h4>Software Developer, Project Assistant</h4>
                        <h3>jamesalcantara185@gmail.com</h3>
                    </div>
                </div>
                <div class="member">
                    <img src="{{ url_for('static', filename='assets/logo_image.png') }}" alt="Mem3" class="member-image">
                    <div class="member-info">
                        <h2>Jarlson Ezekiel P. Figueroa</h4>
                        <h4>Software Developer, Project Assistant</h4>
                        <h3>jarlson.16figueroa@gmail.com</h3>
                    </div>
                </div>
            </div>            
        </section>
    </main>

    <footer>
        <p>© 2024 Sharp Mugs. All Rights Reserved.</p>
    </footer>
</body>
</html>
