<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Pantasa - Advance Tagalog Error Checker</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&italic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Artifika&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content"> 
            <div class="logo-container">
                <img src="{{ url_for('static', filename='assets/logo_image.png') }}" alt="Logo Image" class="logo-image">
                <a href="{{ url_for('index') }}" class="logo">PANTASA</a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    
    <main>
        <section class="hero">
            <h1>PANTASA: Advance Tagalog Error Checker</h1>
            <p>Your Tagalog grammar buddy.</p>
            <a href="{{ url_for('main') }}" class="cta-button">TRY IT OUT!</a>
        </section>
    </main>
</body>
</html>
